{% extends 'bases.html' %}

{% load static %}

{% block title %}
    {{ car.title }} Details
{% endblock title %}

{% block content %}
    <ul>
        <li>{{ car.title }}</li>
        <li>{{ car.model }}</li>
        <li>{{ car.odometer }}</li>
        <li>
            {% if car.image %}
            <img width="500" src="{{ car.image.url }}" alt="">
            {% endif %}
        </li>
        <a href="{% url 'cars_app:car_edit' pk=car.pk %}">
            <button type="button" class="btn btn-primary">Update</button>

        </a>
         <a href="{% url 'cars_app:car_delete' pk=car.pk %}">
        <button type="button" class="btn btn-danger">Delete</button>
        </a>
    </ul>

{% endblock content %}




